<div class="index">
<div class="hero">
  <div class="overlay">
    <div class="hero-text">
      <h1>EXPLORE <span>FESTIVALS</span> <br>AROUND THE WORLD</h1>
    </div>
    <div class="home-button-group">
    <div class="home-cta">
    <button
      onclick="window.location.href=`/festivals/list`;"
      class="cta-button"
    ><b>BROWSE ALL</b></button>
  </div>
  <div class="home-cta">
    <button
      onclick="window.location.href=`/festivals/feelinglucky`;"
      class="cta-button"
    ><b>I'M FEELING LUCKY</b></button>
  </div>
  </div>
  </div>
</div>

<div class="popular-festivals">
  <h3>POPULAR FESTIVALS</h3>

  <div class="home-container" id="home-list">
    {{#each mostPopular}}
      <div class="home-single-festival">

        <div class="home-festival-image">
          <img class="festival-image"
            alt="Festival image"
            {{!-- width="400px"
            height="250px" --}}
            src="{{this.imageURL}}"
          />
        </div>
          <div class="home-festival-text">
            <h3 style="color: #7843E6">{{this.name}}</h3>
          
          <p>{{this.startDate}} - {{this.endDate}}</p>
          <p>{{this.location.country}},
            {{this.location.city}}</p></div>
        <div class="detail-button">
          <button
            onclick="window.location.href=`/festivals/{{_id}}`;"
            class="purple-button"
          >See Details</button>
        </div>
      </div>

    {{/each}}
  </div>
</div>

<div class="recently-added">
  <h3>RECENTLY ADDED</h3>

  <div class="home-container" id="home-list">
    {{#each festivalsByDate}}
      <div class="home-single-festival">

        <div class="home-festival-image">
          <img class="festival-image"
            alt="Festival image"
            {{!-- width="400px"
            height="250px" --}}
            src="{{this.imageURL}}"
          />
        </div>
          <div class="home-festival-text">
            <h3 style="color: #7843E6">{{this.name}}</h3>
          
          <p>{{this.startDate}} - {{this.endDate}}</p>
          <p>{{this.location.country}},
            {{this.location.city}}</p></div>
        <div class="detail-button">
          <button
            onclick="window.location.href=`/festivals/{{_id}}`;"
            class="purple-button"
          >See Details</button>
        </div>
      </div>
    {{/each}}
  </div>

</div>
</div>