{{#if userInfo}}

<h1 style="color: #7843E6;">Welcome {{userInfo.email}}</h1>
<p>This is your profile page</p>

{{#if userInfo.isAdmin}}
  <p><b>You are an admin</b></p>
{{/if}}
<br><br>

<h2 style="color: #5183EF"><b>My Favorites</b></h2>

  {{#if festivals}}
    <ul>
      {{#each festivals}}
        <li><h4><a href="/festivals/{{_id}}" style="color: #FC02FE">{{name}}</a></h4></li>
      {{/each}}
    </ul></uk>
  {{else}}
        <h4>You haven't added any festivals on your favorites list. Go to the
        <a href="/festivals/list">All Festivals</a> page to start<span> </h4>
  {{/if}}
{{else}}
<p>You are not logged in</p>
{{/if}}