{{#if userInfo}}
<div class="profile-title">
  <h6><b>Welcome, {{userInfo.email}}!</b></h6>
</div>


<br><br>
{{!-- 
{{#if userInfo.isAdmin}}
    <button onclick="window.location.href=`/festivals/create`;" class="blue-button"><h4>Create a New Festival</h4></button>
{{/if}} --}}
<h2 style="color: #FC02FE"><b>My Favorite Festivals</b></h2>

  {{#if festivals}}

    <div class="home-container" id="home-list">
    {{#each festivals}}
      <div class="home-single-festival">

        <div class="home-festival-image">
          <img class="festival-image"
            alt="Festival image"
            {{!-- width="400px"
            height="250px" --}}
            src="{{this.imageURL}}"
          />
        </div>
          <div class="home-festival-text">
            <h3 style="color: #7843E6; margin-bottom: 0">{{this.name}}</h3>
          
          <p>{{this.startDate}} - {{this.endDate}}</p>
          <p>{{this.location.country}},
            {{this.location.city}}</p></div>
        <div class="detail-button">
          <button
            onclick="window.location.href=`/festivals/{{_id}}`;"
            class="purple-button"
          >See Details</button>
        </div>
      </div>

    {{/each}}
  </div>
  {{else}}
  <div>
    <div><h6>You haven't added any festivals on your favorites list yet.</h6>
        <h6>Start browsing to build your favorites list! </h6></div>
    <div>
          <button
            onclick="window.location.href=`/festivals/list`;"
            class="purple-button"
          >SEE FESTIVALS</button>
        </div>
  </div>
  {{/if}}
{{else}}
<p>You are not logged in</p>
{{/if}}




