<h1><b>Here are all the Festivals in our Database</b></h1>


<div class="search">
  <button onclick="window.location.href=`/festivals/search`;" class="wide-purple-button">Search</button>
</div><br>

  {{#if userInfo.isAdmin}}
    <br><br><h3><a href="/festivals/create" class="purple-button"><b>Create a New Festival</b></a></div></h3>
  {{/if}}

<div id="container" class="festival-list"> 

  {{#if allFestivals}}

    {{#each allFestivals}}

      <div class="single-festival">
        <div class="festival-text"> 

          {{#if imageURL}}
            <img alt="Festival image" width=400px height=250px src="{{imageURL}}">   
          {{else}}
            <img alt="Festival image" width=400px height=250px src="https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675525382/festival-wizard/cdqqeprozbnvusmra06v.jpg">  
          {{/if}} 

          <br><br>
          <h3 style="color: #7843E6; margin-bottom: 0"><b>{{name}}</b></h3>

          <h3>{{startDate}} - {{endDate}}</h3>
          <p><b>Location:</b>
          {{#if location.address}} 
            {{location.address}}, {{location.country}}, {{location.city}}</p>
          {{else}}
            {{location.country}}, {{location.city}}</p>
          {{/if}}        

          <p><b>Ticket prices: </b>
          {{#if minPrice}}
            {{currency}}{{minPrice}}-{{currency}}{{maxPrice}}  
          {{else}}
            unavailable
          {{/if}}
          </p>
        </div>

        <div>
          <button onclick="window.location.href=`/festivals/{{_id}}`;" class="purple-button">See Details</button>
        </div><br>
      </div>
    {{/each}}

  {{else}}
    <p><b>No festivals in the Database</b></p>
  {{/if}}

  </div>

<div>


