<div class="all-festivals">
  <h3>ALL FESTIVALS</h3>

<div class="search-bar">

    <form action="/search" method="GET">
      <div class="search-container">
      <div class="search-fields">
        <label for=""><h5>Name</h5>
          <input type="text" name="name"></label>

        <label><h5>Country</h5>
          <select id="country" name="country" class="">
            <option selected>--</option>
            {{#each countries}}
              <option value={{this}}>{{this}}</option>
            {{/each}}
          </select>
        </label>

        <label> <h5>Genre</h5>
          <select name="genre">
              <option selected>--</option>
              <option value="Rock">Rock</option>
              <option value="Pop">Pop</option>
              <option value="Electronic">Electronic</option>
              <option value="Folk">Folk</option>
              <option value="Techno">Techno</option>
              <option value="Classical">Classical</option>
          </select>
        </label>

      </div>
      <div class="search-button">
      <button type="submit" class="wide-purple-button"><h5>Search</h5></button>
      </div>
      </div>
    </form>

    {{#if errorMessage}}
      <br><br>
      <p class={{errorType}}>{{errorMessage}}</p>
    {{/if}}
</div>
<hr>
<div class="home-container" id="home-list"> 

  {{#if allFestivals}}
    {{#each allFestivals}}
      <div class="home-single-festival">

        <div class="home-festival-image">
          <img class="festival-image"
            alt="Festival image"
            {{!-- width="400px"
            height="250px" --}}
            src="{{imageURL}}"
          />
        </div>
          <div class="home-festival-text">
            <h3 style="color: #7843E6">{{name}}</h3>
          
          <p>{{startDate}} - {{endDate}}</p>
          <p>{{location.country}},
            {{location.city}}</p></div>
        <div class="detail-button">
          <button
            onclick="window.location.href=`/festivals/{{_id}}`;"
            class="purple-button"
          >See Details</button>
        </div>
      </div>

    {{/each}}

  {{else}}
    <p><b>No festivals in the Database</b></p>
  {{/if}}

  </div>


</div>


