<h1><b>Here are all the Festivals in our Database</b></h1>


<div class="search-container">

  <div>

    <form action="/search" method="GET">

      <div>
        <label for=""><input type="text" name="name"></label>

        <label>
          <select id="country" name="country" class="">
            <option selected>--</option>
            {{#each countries}}
              <option value={{this}}>{{this}}</option>
            {{/each}}
          </select>
        </label>

        <label>
          <select name="genre">
              <option selected>--</option>
              <option value="Rock">Rock</option>
              <option value="Pop">Pop</option>
              <option value="Electronic">Electronic</option>
              <option value="Folk">Folk</option>
              <option value="Techno">Techno</option>
              <option value="Classical">Classical</option>
          </select>
        </label>

      </div><br><br>

      <button type="submit" class="wide-purple-button"><h4>Search by Name, Country, and Genre</h4></button>

    </form>

    {{#if errorMessage}}
      <br><br>
      <p class={{errorType}}>{{errorMessage}}</p>
    {{/if}}


<div id="container" class="festival-list"> 

  {{#if allFestivals}}

    {{#each allFestivals}}

      <div class="single-festival">
        <div class="festival-text"> 

          {{#if imageURL}}
            <img alt="Festival image" src="{{imageURL}}" class="image">
          {{else}}
            <img alt="Festival image" src="https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675525382/festival-wizard/cdqqeprozbnvusmra06v.jpg" class="image">  
          {{/if}} 

          <br><br>
          <h3 style="color: #7843E6; margin-bottom: 0"><b>{{name}}</b></h3>

          <h3>{{startDate}} - {{endDate}}</h3>
          <p><b>Location:</b>
          {{#if location.address}} 
            {{location.address}}, {{location.country}}, {{location.city}}</p>
          {{else}}
            {{location.country}}, {{location.city}}</p>
          {{/if}}        

          <p><b>Ticket prices: </b>
          {{#if minPrice}}
            {{currency}}{{minPrice}}-{{currency}}{{maxPrice}}  
          {{else}}
            unavailable
          {{/if}}
          </p>
        </div>

        <div>
          <button onclick="window.location.href=`/festivals/{{_id}}`;" class="purple-button">See Details</button>
        </div><br>
      </div>
    {{/each}}

  {{else}}
    <p><b>No festivals in the Database</b></p>
  {{/if}}

  </div>

<div>


