<div class="container">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <h1 style="color: #7843E6"><b>Edit {{festivalToEdit.name}}</b></h1>

                <hr>
                <form action="/festivals/{{festivalToEdit._id}}/edit/" method="POST">
                    <label>
                        <b>Name:</b> <input class="mandatory" type="text" name="name" value="{{festivalToEdit.name}}">
                    </label><br><br>

                    <label>

                        <b>Image:</b> <input type="file" name="imageURL"  value="{{festivalToEdit.imageURL}}">
                                     <input type="text" name="existingImage" hidden value="{{imageURL}}">

                    </label><br><br>


                    <label>
                        <b>Start Date:</b> <input class="mandatory" type="date" name="startDate" value="{{festivalToEdit.startDate}}">
                    </label>

                    <label>
                        <b>End Date:</b> <input type="date" name="endDate" value="{{festivalToEdit.endDate}}">
                    </label><br><br>

                    <label>
                        Artists:</b> <input type="text" name="artists" value="{{festivalToEdit.artists}}">
                    </label><br><br>

                    <label>
                        <b>Country:</b> 
                        <select class="mandatory" id="country" name="country" class="">
                            {{#if festivalToEdit.location.country}}
                              <option value={{festivalToEdit.location.country}} selected>{{festivalToEdit.location.country}}</option>
                            {{/if}}                           
                            {{#each countries}}
                                <option value={{this}}>{{this}}</option>
                            {{/each}}
                        </select> 

                    </label>  <br><br>  

                    <label>
                        <b>City:</b> <input class="mandatory" type="text" name="city" value="{{festivalToEdit.location.city}}">
                    </label><br><br>

                    <label>
                        <b>Address:</b> <input type="text" name="address" value="{{festivalToEdit.location.address}}">
                    </label><br><br>

                    <label>
                        <b>Currency:</b> 
                        <select name="currency">
                            <option value={{festivalToEdit.currency}} selected>{{festivalToEdit.currency}}</option>
                            <option value="EUR">EUR</option>
                            <option value="USD">USD</option>
                            <option value="GBP">GBP</option>
                        </select>
                    </label><br><br>

                    <label>
                        <b>Min Price:</b> <input type="number" name="minPrice" value="{{festivalToEdit.minPrice}}">
                    </label>

                    <label>
                        <b>Max Price:</b> <input type="number" name="maxPrice" value="{{festivalToEdit.maxPrice}}">
                    </label><br><br>

                    <label>
                        <b>Website:</b> <input class="mandatory" type="text" name="website" value="{{festivalToEdit.website}}">
                    </label><br><br>

                    <label>
                        <b>Key fact:</b> <input type="text" name="mustKnow" value="{{festivalToEdit.mustKnow}}">
                    </label><br><br>

                    <label>
                        <b>Genre:</b> 
                        <select name="genre" multiple>
                            {{#each festivalToEdit.genre}}
                              <option value={{this}} selected>{{this}}</option>
                            {{/each}}
                            <option value="Rock">Rock</option>
                            <option value="Pop">Pop</option>
                            <option value="Electronic">Electronic</option>
                            <option value="Folk">Folk</option>
                            <option value="Techno">Techno</option>
                            <option value="Classical">Classical</option>
                        </select>
                    </label><br><br>

                    <button type="submit"  class="purple-button"> Edit Festival </button>

                    {{#if errorMessage}}
                      <p class={{errorType}}>{{errorMessage}}</p>
                    {{/if}}
                </form>

            </div>
        </div>
    </div>

</div>