{{!-- <div id="single-container"> 
  
  <div class="festival-box">
    <h1 style="color: #7843E6">{{festivalDetails.name}}</h1>
    <h2>{{festivalDetails.startDate}} - {{festivalDetails.endDate}}</h2>
    <h3>Artists: {{festivalDetails.artists}}</h3>
    {{#if festivalDetails.location.venue}}{{festivalDetails.location.venue}}{{/if}}
    {{festivalDetails.location.city}}, {{festivalDetails.location.country}}
  </div>

    {{#if userInfo}}
    <div class="btn-group">
      {{#if isIncludingFav}}
        <button onclick="window.location.href=`/festivals/{{festivalDetails._id}}/unfav/`;" class="purple-button">Remove Festival from Favorites</button>
      {{else}}
        <button onclick="window.location.href=`/festivals/{{festivalDetails._id}}/fav/`;" class="purple-button">Add Festival to Favorites</button>
      {{/if}}

      {{#if userInfo.isAdmin}}
        <button onclick="window.location.href=`/festivals/{{festivalDetails._id}}/edit/`;" class="purple-button">Edit Festival</button>
        <button onclick="window.location.href=`/delete-festival/{{festivalDetails._id}}`;" class="purple-button">Delete Festival</button>
      {{/if}}
    </div>
  {{/if}}
</div>

<div id="festival-info">

  {{#if festivalDetails.artists}}
    <h4><span style="color: #7843E6"><b>with </span>{{festivalDetails.artists}}</b></h4>
  {{else}}
    <h4><b>Line up tbc</b></h4>
  {{/if}}

  {{#if festivalDetails.minPrice}}
    <h4><span style="color: #7843E6"><b>Tickets: </span>{{festivalDetails.currency}}{{festivalDetails.minPrice}} - {{festivalDetails.currency}}{{festivalDetails.maxPrice}}</b></h4>
  {{else}}
    <h4><b>Ticket price not yet known</b></h4>
  {{/if}}

  {{#if festivalDetails.genre}}
    <h4><span style="color: #7843E6"><b>Genre: </span>{{festivalDetails.genre}}</b></h4>
  {{/if}}

  {{#if festivalDetails.description}}
    <h4><span style="color: #7843E6"><b>Fun fact: </span>{{festivalDetails.description}}</b></h4>

  {{/if}}

  {{#if festivalDetails.website}}
    <h4><span style="color: #7843E6"><b>Website: </span>{{festivalDetails.website}}</b></h4>
  {{/if}}


</div> --}}

<div class="festival-hero" style=" background: url({{festivalDetails.imageURL}}) no-repeat center center;">
  <div class="festival-overlay">
    <div class="festival-hero-text">
      <h1>{{festivalDetails.name}}</h1>
    </div>
    <div class="icons">
      <div class="icon-container">
        <img src="https://res.cloudinary.com/dl4tnpmqr/image/upload/v1676024779/festival-wizard/nbjtpeyqm43f4oc4jfi2.png" alt="pin-icon">
        <h6>{{festivalDetails.location.city}}, {{festivalDetails.location.country}}</h6>
      </div>
      <div class="icon-container">
        {{#if festivalDetails.genre}}
        <img src="https://res.cloudinary.com/dl4tnpmqr/image/upload/v1676024824/festival-wizard/kij7vcinzloep1oetvw0.png" alt="genre-icon">
        <h6>{{festivalDetails.genre}}</h6>
          {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="sub-festival-hero">
   {{#if userInfo}}
  <div class="festival-button-group">
      {{#if isIncludingFav}}
    <div class="festival-cta">
    <button
      onclick="window.location.href=`/festivals/{{festivalDetails._id}}/unfav/`;"
      class="festival-button"
    ><b>REMOVE FAVORITE</b></button>
  </div>
      {{else}}
    <div class="festival-cta">
    <button
      onclick="window.location.href=`/festivals/{{festivalDetails._id}}/fav/`;"
      class="festival-button"
    ><b>ADD FAVORITE</b></button>
  </div>
      {{/if}}
      {{#if userInfo.isAdmin}}
  <div class="festival-cta">
    <button
      onclick="window.location.href=`/festivals/{{festivalDetails._id}}/edit/`;"
      class="festival-button"
    ><b>EDIT</b></button>
  </div>
  <div class="festival-cta">
    <button
      onclick="window.location.href=`/delete-festival/{{festivalDetails._id}}`;"
      class="delete-button"
    ><b>DELETE</b></button>
  </div>
      {{/if}}
  </div>
     {{/if}}

  <div class="festival-info-group">
    {{#if festivalDetails.description}}
    <div class="info-left">
      <h2>About</h2>
      <p>{{festivalDetails.description}}</p>
    </div>
    {{/if}}
    
    <div class="info-right">
    <div>
      <h2>When?</h2>
      <p>{{festivalDetails.startDate}} - {{festivalDetails.endDate}}</p>
    </div>
    {{#if festivalDetails.location.venue}}
    <div>
      <h2>Where?</h2>
      <p>{{festivalDetails.location.venue}}</p>
    </div>
    {{/if}}
    {{#if festivalDetails.artists}}
    <div>
      <h2>Who's Playing?</h2>
      <p>{{festivalDetails.artists}}</p>
    </div>
    {{/if}}
    {{#if festivalDetails.minPrice}}
    <div>
      <h2>What does it cost?</h2>
      <p>{{festivalDetails.currency}}{{festivalDetails.minPrice}} - {{festivalDetails.currency}}{{festivalDetails.maxPrice}}</p>
    </div>
    {{/if}}
  </div>
 
  </div>
</div>
