{{name}}
<div><img src="{{imageURL}}" alt="{{name}}" /></div>
<div>Artists: {{artists}}</div>
<div>Dates: {{startDate}} - {{endDate}}</div>

<div>Ticket Prices: {{currency}} {{minPrice}}-{{maxPrice}}</div>
<div>Tips: {{mustKnow}}</div>
<div>Genre: {{genre}}</div>
{{#if userInfo}}
<div class="btn-group">
    <a href="/festivals/{{_id}}/fav/">Add Festival to Favorites</a>
    <a href="/festivals/{{_id}}/unfav/">Remove Festival from Favorites</a>
  </div>
{{/if}}

{{#if userInfo.isAdmin}}
  <div class="btn-group">
    <a href="/festivals/{{_id}}/edit/">Edit Festival</a>
    <a href="/delete-festival/{{_id}}">Delete Festival</a>
  </div>
{{/if}}
