<div id="single-container"> 
  {{#if festivalDetails.imageURL}}
    <div style="background-image: url({{festivalDetails.imageURL}}); background-repeat: no-repeat"; class="picture-box">
  {{else}}
    <div style="background-image: url('https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675525382/festival-wizard/cdqqeprozbnvusmra06v.jpg'); background-repeat: no-repeat"; class="picture-box">
  {{/if}} 
  
  <div class="festival-box">
    <h1 style="color: #7843E6">{{festivalDetails.name}}</h1>
    <h2>{{festivalDetails.startDate}} - {{festivalDetails.endDate}}</h2>
    {{#if festivalDetails.location.address}}{{festivalDetails.location.address}}{{/if}}
    {{festivalDetails.location.city}}, {{festivalDetails.location.country}}
  </div>

    {{#if userInfo}}
    <div class="btn-group">
      {{#if isIncludingFav}}
        <button onclick="window.location.href=`/festivals/{{festivalDetails._id}}/unfav/`;" class="purple-button">Remove Festival from Favorites</button>
      {{else}}
        <button onclick="window.location.href=`/festivals/{{festivalDetails._id}}/fav/`;" class="purple-button">Add Festival to Favorites</button>
      {{/if}}

      {{#if userInfo.isAdmin}}
        <button onclick="window.location.href=`/festivals/{{festivalDetails._id}}/edit/`;" class="purple-button">Edit Festival</button>
        <button onclick="window.location.href=`/delete-festival/{{festivalDetails._id}}`;" class="purple-button">Delete Festival</button>
      {{/if}}
    </div>
  {{/if}}
</div>

<div id="festival-info">

  {{#if festivalDetails.artists}}
    <h4><span style="color: #7843E6"><b>with </span>{{festivalDetails.artists}}</b></h4>
  {{else}}
    <h4><b>Line up tbc</b></h4>
  {{/if}}

  {{#if festivalDetails.minPrice}}
    <h4><span style="color: #7843E6"><b>Tickets: </span>{{festivalDetails.currency}}{{festivalDetails.minPrice}} - {{festivalDetails.currency}}{{festivalDetails.maxPrice}}</b></h4>
  {{else}}
    <h4><b>Ticket price not yet known</b></h4>
  {{/if}}

  {{#if festivalDetails.genre}}
    <h4><span style="color: #7843E6"><b>Genre: </span>{{festivalDetails.genre}}</b></h4>
  {{/if}}

  {{#if festivalDetails.mustKnow}}
    <h4><span style="color: #7843E6"><b>Fun fact: </span>{{festivalDetails.mustKnow}}</b></h4>
  {{/if}}

  {{#if festivalDetails.website}}
    <h4><span style="color: #7843E6"><b>Website: </span>{{festivalDetails.website}}</b></h4>
  {{/if}}


</div>