{{#if festivalDetails.imageURL}}
  <div style="background-image: url({{festivalDetails.imageURL}}); background-repeat: no-repeat"; class="picture-box">
{{else}}
  <div style="background-image: url('https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675525382/festival-wizard/cdqqeprozbnvusmra06v.jpg'); background-repeat: no-repeat"; class="picture-box">
{{/if}} 


  <div class="festival-box">
    <h1 style="color: #7843E6">{{festivalDetails.name}}</h1>
    <h2>{{festivalDetails.startDate}} - {{festivalDetails.endDate}}</h2>
    {{#if festivalDetails.location.address}}{{festivalDetails.location.address}}{{/if}}
    {{festivalDetails.location.city}}, {{festivalDetails.location.country}}
  </div>


  {{#if festivalDetails.artists}}
    <h4><span style="color: #5183EF ">with </span>{{festivalDetails.artists}}</h4>
  {{else}}
    <h4>Line up tbc</h4>
  {{/if}}

  {{#if festivalDetails.minPrice}}
    <h4><span style="color: #5183EF">Tickets: </span>{{festivalDetails.currency}}{{festivalDetails.minPrice}} - {{festivalDetails.currency}}{{festivalDetails.maxPrice}}</h4>
  {{else}}
    <h4>Ticket price not yet known</h4>
  {{/if}}

  {{#if festivalDetails.genre}}
    <h4><span style="color: #5183EF">Genre: </span>{{festivalDetails.genre}}</h4>
  {{/if}}

  {{#if festivalDetails.mustKnow}}
    <h4><span style="color: #5183EF">Fun fact: </span>{{festivalDetails.mustKnow}}</h4>
  {{/if}}

  {{#if festivalDetails.website}}
    <h4><span style="color: #5183EF">Website: </span>{{festivalDetails.website}}</h4>
  {{/if}}


  {{#if userInfo}}
    <div class="btn-group">
      {{#if isIncludingFav}}
        <button onclick="window.location.href=`/festivals/{{festivalDetails._id}}/unfav/`;" class="purple-button">Remove Festival from Favourites</button>
    {{!-- <a href="/festivals/{{festivalDetails._id}}/unfav/">Remove Festival from Favorites</a> --}}
      {{else}}
        <button onclick="window.location.href=`/festivals/{{festivalDetails._id}}/fav/`;" class="purple-button">Add Festival to Favourites</button>
    {{!-- <a href="/festivals/{{festivalDetails._id}}/fav/">Add Festival to Favorites</a> --}}
      {{/if}}

      {{#if userInfo.isAdmin}}
        <button onclick="window.location.href=`/festivals/{{festivalDetails._id}}/edit/`;" class="purple-button">Edit Festival</button>
        <button onclick="window.location.href=`/delete-festival/{{festivalDetails._id}}`;" class="purple-button">Delete Festival</button>
      {{/if}}

    {{!-- <a href="/festivals/{{_id}}/edit/">Edit Festival</a>
    <a href="/delete-festival/{{_id}}">Delete Festival</a> --}}
    </div>
  {{/if}}
</div>



</div>
