<div id="single-container"> 
  {{#if festivalDetails.imageURL}}
    <div style="background-image: url({{festivalDetails.imageURL}}); background-repeat: no-repeat"; class="picture-box">
  {{else}}
    <div style="background-image: url('https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675525382/festival-wizard/cdqqeprozbnvusmra06v.jpg'); background-repeat: no-repeat"; class="picture-box">
  {{/if}} 
  
  <div class="festival-box">
    <h1 style="color: #7843E6">{{randomFestival.name}}</h1>
    <h2>{{randomFestival.startDate}} - {{randomFestival.endDate}}</h2>
    {{#if randomFestival.location.address}}{{randomFestival.location.address}}{{/if}}
    {{randomFestival.location.city}}, {{randomFestival.location.country}}
  </div>

    {{!-- {{#if userInfo}}
    <div class="btn-group">
      {{#if isIncludingFav}}
        <button onclick="window.location.href=`/festivals/{{randomFestival._id}}/unfav/`;" class="purple-button">Remove Festival from Favorites</button>
      {{else}}
        <button onclick="window.location.href=`/festivals/{{randomFestival._id}}/fav/`;" class="purple-button">Add Festival to Favorites</button>
      {{/if}} --}}
    <div class="btn-group">

      {{#if userInfo.isAdmin}}
        <button onclick="window.location.href=`/festivals/{{randomFestival._id}}/edit/`;" class="purple-button">Edit Festival</button>
        <button onclick="window.location.href=`/delete-festival/{{randomFestival._id}}`;" class="purple-button">Delete Festival</button>
      {{/if}}
  {{!-- {{/if}} --}}
</div>

<div id="festival-info">

  {{#if randomFestival.artists}}
    <h4><span style="color: #7843E6"><b>with </span>{{randomFestival.artists}}</b></h4>
  {{else}}
    <h4><b>Line up tbc</b></h4>
  {{/if}}

  {{#if randomFestival.minPrice}}
    <h4><span style="color: #7843E6"><b>Tickets: </span>{{randomFestival.currency}}{{festivalDetails.minPrice}} - {{festivalDetails.currency}}{{festivalDetails.maxPrice}}</b></h4>
  {{else}}
    <h4><b>Ticket price not yet known</b></h4>
  {{/if}}

  {{#if randomFestival.genre}}
    <h4><span style="color: #7843E6"><b>Genre: </span>{{randomFestival.genre}}</b></h4>
  {{/if}}

  {{#if randomFestival.mustKnow}}
    <h4><span style="color: #7843E6"><b>Fun fact: </span>{{randomFestival.mustKnow}}</b></h4>
  {{/if}}

  {{#if randomFestival.website}}
    <h4><span style="color: #7843E6"><b>Website: </span>{{randomFestival.website}}</b></h4>
  {{/if}}


</div>