<h1><b>Here is a list of Festivals in our Database filtered for <span style="color: #5183EF">{{filter}}</span></b></h1>


<div class="search">
  <button onclick="window.location.href=`/festivals/search`;" class="wide-purple-button"><h2>Search Again</h2></button>
</div><br><br>

{{#if someFestivals}}

  <div id="container" class="festival-list"> 

    {{#each someFestivals}}

      <div class="single-festival">
        <div class="festival-text"> 

          {{#if imageURL}}
            <img alt="Festival image" width=400px height=250px src="{{imageURL}}">   
          {{else}}
            <img alt="Festival image" width=400px height=250px src="https://res.cloudinary.com/dl4tnpmqr/image/upload/v1675525382/festival-wizard/cdqqeprozbnvusmra06v.jpg">  
          {{/if}} 

          <br><br>
          <h3 style="color: #7843E6; margin-bottom: 0"><b>{{name}}</b></h3>

          <h3>{{startDate}} - {{endDate}}</h3>
          <p><b>Location:</b>
          {{#if location.venue}} 
            {{location.venue}}, {{location.country}}, {{location.city}}</p>
          {{else}}
            {{location.country}}, {{location.city}}</p>
          {{/if}}        

          <p><b>Ticket prices: </b>
          {{#if minPrice}}
            {{currency}}{{minPrice}}-{{currency}}{{maxPrice}}  
          {{else}}
            unavailable
          {{/if}}
          </p>
        </div>

        <div>
          <button onclick="window.location.href=`/festivals/{{_id}}`;" class="purple-button">See Details</button>
        </div><br>
      </div>
    {{/each}}
  </div>

{{else}}
  <div class="message"><h2><b>No festivals meet the filter criteria</b></h2></div>
{{/if}}

