<div class="all-festivals">
  <h3>SEARCH RESULTS</h3>
  <h6><span style="color: #5183EF">{{filter}}</span></h6>

<div class="home-container" id="home-list"> 

{{#if someFestivals}}
    {{#each someFestivals}}

      <div class="home-single-festival">


        <div class="home-festival-image">
          <img class="festival-image"
            alt="Festival image"
            {{!-- width="400px"
            height="250px" --}}
            src="{{imageURL}}"
          />
        </div>
          <div class="home-festival-text">
            <h3 style="color: #7843E6">{{name}}</h3>
          
          <p>{{startDate}} - {{endDate}}</p>
          <p>{{location.country}},
            {{location.city}}</p></div>
        <div class="detail-button">
          <button
            onclick="window.location.href=`/festivals/{{_id}}`;"
            class="purple-button"
          >See Details</button>

        </div>
      </div>
      {{/each}}

{{else}}
  <div class="message"><h2><b>No festivals found with the search criteria</b></h2></div>
{{/if}}
</div>
</div>